<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        body {
            font-family: Arial;
            font-size: 12px;
            color: #555555;
        }
        .footer {
            font-family: Arial;
            font-size: 11px;
        }
    </style>
</head>
<body>
{% block content %}{% endblock %}
<hr>
<p class="footer">
    This e-mail may contain confidential or privileged information. If you are not (one of) the intended recipient(s), please notify the sender immediately by reply e-mail and delete this message and any attachments permanently without retaining a copy. Any review, disclosure, copying, distribution or taking any action in reliance on the contents of this e-mail by persons or entities other than the intended recipient(s) is strictly prohibited and may be unlawful.<br>
    The services of Levi9 are exclusively subject to its general terms and conditions. These general terms and conditions can be found on www.levi9.com and a copy will be promptly submitted to you on your request and free of charge.
</p>
</body>
</html>